$primary:  linear-gradient(to right, #073a4d  0%, #2a4151 100%);
$primary1:  #F3F4F7; //#faf9f7;
$primary2: #59a5d8;
$primary3: rgba(187, 246, 99, 0.1);
$nhighlight: #bbf663;
$nhighlight2: #81b298;
$nhighlight3: #2c89a0;
$nhighlight3dark: #6A5837;
$nhighlight4: #59a5d8;
$nhighlight5: #843b62; //rgba(31,105,124,1);
$nhighlight6: #B88B4A;
$nhighlight7: #5A204C; //#A27035;
$nhighlight8: #7A306C;
$nbackground: #073a4d;

$color-background: $primary;
$color-foreground: $primary1;
$color-hover: $primary1;
$image-border: $primary1;

@import 'styles/variables';
@import 'styles/base';
@import 'styles/layout';
